@model BibliotecaMongo.Models.Livro

<h2>Editar Livro</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />

    <div>
        <label>Título</label>
        <input asp-for="Titulo" />
    </div>

    <div>
        <label>Autor</label>
        <input asp-for="Autor" />
    </div>

    <div>
        <label>Ano</label>
        <input asp-for="Ano" type="number" />
    </div>

    <div>
        <label>Gênero</label>
        <input asp-for="Genero" />
    </div>

    <div>
        <label>Exemplares</label>
        <input asp-for="Exemplares" type="number" />
    </div>

    <button type="submit">Salvar Alterações</button>
</form>

<a asp-action="Index">Voltar</a>